#contact {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 3rem;
    padding-top: 4rem;

    @media (max-width: 768px) {
      .btn-contact {
        background-color: var(--color-primary);
        color: var(--color-wite);
        padding: 0.8em 2em;
        border: 0;
        font-size: 1rem;
        border-radius: 0.5em;
      }

      .contact-box {
        display: none;
      }
    }

    details[open] p {
      padding-top: 1rem;
    }

    summary {
      list-style: none;
      cursor: pointer;
    }

    summary::after {
      content: "\25BC";
      font-size: 14px;
      transition: transform 0.3s ease;
    }

    details[open] summary::after {
        content: "\25B2";
      transform: rotate(180deg);
    }

    @media (min-width: 768px) {
      .container {
        display: flex;
        padding: 4rem 0 3rem 0;
      }
    }
      .btn-contact {
        display: none;
        padding-left: 2rem;
        padding-bottom: 2rem;
      }
      .contact-box {
        display: grid;
        margin: 0 1.5rem 0 1.5rem;
        border: 1px solid var(--color-border-gray);
        padding: 2rem;
        border-radius: 8px;
        height: 150px;
        width: 750px;
        align-items: center;
      }
      #first-concact {
        margin-left: 0 !important;
      }
      .contact-box:last-child {
        margin-right: 0;
      }
      @media (min-width: 1400px) {
        display: grid;
        padding: 0rem;
        grid-template-columns: auto;
        grid-template-areas:
          "h3 summary"
          "faq-still summary"
          "contact-box summary";
      }
      h3{
        grid-area: h3;
      }
      .faq-still{
        grid-area:faq-still;

      }

      .contact-box{
        grid-area: contact-box;
        width:200px;
        grid-column: auto;
      }
       

      }
      summary{
        grid-area: summary;


      }

    }
  }
